<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>wizyoung.workflows.kyoyue</string>
	<key>connections</key>
	<dict>
		<key>18C3A8C2-B181-43FC-8A81-9BC9F76E2BB5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EF955F04-E5C1-4109-823C-FD14EA30FB29</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1E251435-DCE9-43FD-8E39-EAB7358DF0D2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C8DB8CFF-D511-4F13-9B88-9ADE6401DBBD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>277DCDF8-431E-4188-A209-DADBCD5C8251</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB6D09AB-B80C-471A-AE2D-786CA0465CA5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2BA63DAF-2270-4B31-81C7-7390BFD94EB7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF18B9AA-169A-4523-B387-374B6F3F9568</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B5170484-5214-4A33-9AB5-452D4A25675A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2BA63DAF-2270-4B31-81C7-7390BFD94EB7</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>点击复制surge主机配置信息(填在[Proxy]下)</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1E251435-DCE9-43FD-8E39-EAB7358DF0D2</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>点击复制surge主机名信息(填在[Proxy Group]下)</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FDE48B8B-0DAF-4B1F-873E-E412CAC2DCE4</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>点击打开ssr图像</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B794C5A8-E105-4809-8602-8417E0B60F4B</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>点击打开ss图像</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B794C5A8-E105-4809-8602-8417E0B60F4B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A1F1A0A2-711C-4605-A88E-1542DA8ADC94</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C8DB8CFF-D511-4F13-9B88-9ADE6401DBBD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0E58F01-E078-4D2F-90AF-08BE2709F47D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E979FC00-1246-4975-928E-8BDAF5F917FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>18C3A8C2-B181-43FC-8A81-9BC9F76E2BB5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FDE48B8B-0DAF-4B1F-873E-E412CAC2DCE4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D7A5F573-1BCA-450E-9B37-1CCB3DF0976B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF18B9AA-169A-4523-B387-374B6F3F9568</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>276FA14C-7829-476D-8668-7FB5F2FB163D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>wizyoung</string>
	<key>description</key>
	<string>优越加速自动获取信息脚本  --version: 1.0</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Kyoyue shadowsocks</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>请打开surge配置文件尽情食用吧~</string>
				<key>title</key>
				<string>已经保存[Proxy Group]下字段</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>276FA14C-7829-476D-8668-7FB5F2FB163D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python surge_conf.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2BA63DAF-2270-4B31-81C7-7390BFD94EB7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>FF18B9AA-169A-4523-B387-374B6F3F9568</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>请打开surge配置文件尽情食用吧~</string>
				<key>title</key>
				<string>已经保存[Proxy]下字段</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D0E58F01-E078-4D2F-90AF-08BE2709F47D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C8DB8CFF-D511-4F13-9B88-9ADE6401DBBD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python surge_name.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1E251435-DCE9-43FD-8E39-EAB7358DF0D2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>gofree</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>正在获取SS信息，速度取决于网络情况，请稍等...</string>
				<key>script</key>
				<string>python kyoyue.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>获取优越加速相关信息</string>
				<key>title</key>
				<string>老司机又要翻墙😈？</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B5170484-5214-4A33-9AB5-452D4A25675A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python ssr.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FDE48B8B-0DAF-4B1F-873E-E412CAC2DCE4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Preview.app</string>
				<key>sourcefile</key>
				<string>ssr.png</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>D7A5F573-1BCA-450E-9B37-1CCB3DF0976B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gofree</string>
				<key>subtext</key>
				<string>gofree ping: 主机Ping值排序</string>
				<key>text</key>
				<string>可选选项</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>406D8A7E-949C-4671-ACFE-3DA543C5FB24</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python ss.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B794C5A8-E105-4809-8602-8417E0B60F4B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Preview.app</string>
				<key>sourcefile</key>
				<string>ss.png</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>A1F1A0A2-711C-4605-A88E-1542DA8ADC94</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gofree</string>
				<key>subtext</key>
				<string>gofree surge: surge信息获取</string>
				<key>text</key>
				<string>可选选项</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>21ADED70-AEDF-448A-9FC9-45A70401DF9E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python kyoyue.py --setkey "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>18C3A8C2-B181-43FC-8A81-9BC9F76E2BB5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>yyset</string>
				<key>subtext</key>
				<string>格式: Email Password (中间用空格隔开)</string>
				<key>text</key>
				<string>输入你的优越加速账户信息</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E979FC00-1246-4975-928E-8BDAF5F917FD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>请输入gofree尽情食用吧~</string>
				<key>title</key>
				<string>已经保存你的优越加速用户信息</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>EF955F04-E5C1-4109-823C-FD14EA30FB29</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.kycloud.co/clientarea.php</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>DB6D09AB-B80C-471A-AE2D-786CA0465CA5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>yyset</string>
				<key>subtext</key>
				<string>按下回车前往优越加速</string>
				<key>text</key>
				<string>前往优越加速网站获取你的信息</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>277DCDF8-431E-4188-A209-DADBCD5C8251</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>18C3A8C2-B181-43FC-8A81-9BC9F76E2BB5</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>1E251435-DCE9-43FD-8E39-EAB7358DF0D2</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>21ADED70-AEDF-448A-9FC9-45A70401DF9E</key>
		<dict>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>276FA14C-7829-476D-8668-7FB5F2FB163D</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>277DCDF8-431E-4188-A209-DADBCD5C8251</key>
		<dict>
			<key>xpos</key>
			<integer>130</integer>
			<key>ypos</key>
			<integer>650</integer>
		</dict>
		<key>2BA63DAF-2270-4B31-81C7-7390BFD94EB7</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>406D8A7E-949C-4671-ACFE-3DA543C5FB24</key>
		<dict>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>A1F1A0A2-711C-4605-A88E-1542DA8ADC94</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>B5170484-5214-4A33-9AB5-452D4A25675A</key>
		<dict>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>B794C5A8-E105-4809-8602-8417E0B60F4B</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>C8DB8CFF-D511-4F13-9B88-9ADE6401DBBD</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>D0E58F01-E078-4D2F-90AF-08BE2709F47D</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>D7A5F573-1BCA-450E-9B37-1CCB3DF0976B</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>DB6D09AB-B80C-471A-AE2D-786CA0465CA5</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>650</integer>
		</dict>
		<key>E979FC00-1246-4975-928E-8BDAF5F917FD</key>
		<dict>
			<key>xpos</key>
			<integer>130</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>EF955F04-E5C1-4109-823C-FD14EA30FB29</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>FDE48B8B-0DAF-4B1F-873E-E412CAC2DCE4</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>FF18B9AA-169A-4523-B387-374B6F3F9568</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/wizyoung/workflows.kyoyue</string>
</dict>
</plist>
